<!DOCTYPE html>
<html ng-app="gemStore">
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body ng-controller="StoreController as store">
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<p>{{"hello" + " You"}}</p>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="product in store.products | limitTo:3 | orderBy:'-price'" ng-hide="product.soldout">
				<h3>
					{{product.name | uppercase}}
					<em class="pull-right">{{product.price | currency}}</em>
				</h3>
				<div class="gallery" | ng-show="product.images.length">
					<div class="img-wrap">
						<img ng-src="{{product.images[0].full}}">
					</div>
					<ul class="img-thumbnails clearfix">
						<li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
							<img ng-src="{{image.thumb}}">
						</li>
					</ul>

				</div>
				
				<p>{{product.description | limitTo:70}}</p>
				<p>{{product.postedon | date:'MM/dd/yyy @ h:mma'}}</p>
				<section ng-controller="PanelController as panel">
					<ul class="nav nav-pills">
						<li ng-class="{active:panel.isSelected(1)}">
							<a href ng-click="panel.selectTab(1)">Description</a>
						</li>
						<li ng-class="{active:panel.isSelected(2)}">
							<a href ng-click="panel.selectTab(2)">Specifications</a>
						</li>
						<li ng-class="{active:panel.isSelected(3)}">
							<a href ng-click="panel.selectTab(3)">Reviews</a>
						</li>
					</ul>
				
					<div class="panel" ng-show="panel.isSelected(1)">
						<product-description ng-show="panel.isSelected(1)"></product-description>
					</div>
					<div class="panel" ng-show="panel.isSelected(2)">
						<product-specs ng-show="panel.isSelected(2)"></product-specs>
					</div>
					<div class="panel" ng-show="panel.isSelected(3)">
						<product-reviews ng-show="panel.isSelected(3)></product-reviews>
					</div>

				</section>
				<button ng-show="product.canPurchase">Add to Cart</button>
			</li>
		</ul>
		
	</body>
</html>