<!DOCTYPE html>
<html ng-app="gemStore">
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body ng-controller="StoreController as store">
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<p>{{"hello" + " You"}}</p>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="product in store.products | limitTo:3 | orderBy:'-price'" ng-hide="product.soldout">
				<h3>
					{{product.name | uppercase}}
					<em class="pull-right">{{product.price | currency}}</em>
				</h3>
				<div class="gallery" | ng-show="product.images.length">
					<div class="img-wrap">
						<img ng-src="{{product.images[0].full}}">
					</div>
					<ul class="img-thumbnails clearfix">
						<li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
							<img ng-src="{{image.thumb}}">
						</li>
					</ul>

				</div>
				
				<p>{{product.description | limitTo:70}}</p>
				<p>{{product.postedon | date:'MM/dd/yyy @ h:mma'}}</p>
				<section ng-controller="PanelController as panel">
					<ul class="nav nav-pills">
						<li ng-class="{active:panel.isSelected(1)}">
							<a href ng-click="panel.selectTab(1)">Description</a>
						</li>
						<li ng-class="{active:panel.isSelected(2)}">
							<a href ng-click="panel.selectTab(2)">Specifications</a>
						</li>
						<li ng-class="{active:panel.isSelected(3)}">
							<a href ng-click="panel.selectTab(3)">Reviews</a>
						</li>
					</ul>
				
					<div class="panel" ng-show="panel.isSelected(1)">
						<product-description ng-show="panel.isSelected(1)"></product-description>
					</div>
					<div class="panel" ng-show="panel.isSelected(2)">
						<h4>Specifications</h4>
						<blockquote>None yet 1</blockquote>
					</div>
					<div class="panel" ng-show="panel.isSelected(3)">
						<ul>
							<h4>Reviews</h4>
							<li>
								<blockquote ng-repeat="review in product.reviews">
									<strong>{{review.stars}} Stars </strong>
									{{review.body}}
									<cite class="clearfix">—{{review.author}} on {{review.createdOn | date}}</cite>
								</blockquote>		
							</li>

						</ul>
						 	<!--  Review Form -->
            				<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
              				<!--  Live Preview -->
              					<blockquote>
                				<strong>{{reviewCtrl.review.stars}} Stars</strong>
                				{{reviewCtrl.review.body}}
                				<cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
              					</blockquote>

              					<!--  Review Form -->
								<h4>Submit a Review</h4>
								<fieldset class="form-group">
									<select ng-model="reviewCtrl.review.stars" class="form-control" ng-options ="stars for stars in [5,4,3,2,1]" title="Stars" required >
										<option vlaue="">Rate the Product</option>
									</select>
								</fieldset>
								<fieldset class="form-group">
									<textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="write a short review of the product..." title="Review" required></textarea>
								</fieldset>
								<fieldset class="form-group">
									<input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="gaurav@example.org" title="Email" required/>
								</fieldset>
								<div>reviewForm is {{reviewForm.$valid}}</div>
								<fieldset class="form-group">
									<input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
								</fieldset>
							</form>
					</div>

				</section>
				<button ng-show="product.canPurchase">Add to Cart</button>
			</li>
		</ul>
		
	</body>
</html>